[submodule "lib/RPIPicoWWSClient-RTOS"]
	path = lib/RPIPicoWWSClient-RTOS
	url = https://github.com/jondurrant/RPIPicoWWSClient-RTOS
[submodule "lib/libspng"]
	path = lib/libspng
	url = https://github.com/randy408/libspng/
[submodule "lib/miniz"]
	path = lib/miniz
	url = https://github.com/richgel999/miniz
